* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

ul li {
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 220, 220);
}

.wrapper {
    width: 500px;
    margin-top: 200px;
    padding: 30px 40px;
    background-color: #fff;
    border-radius: 15px;
}

.tab-contents {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(195, 195, 195);
    padding: 0px 10px;
    padding-bottom: 5px;
}

.tab-btn button {
    background-color: #fff;
    border: none;
    font-weight: 500;
    font-size: large;
    color: rgb(162, 162, 162);
    cursor: pointer;
}

.active.tab-btn button {
    color: Blue;
}

.line {
    position: absolute;
    width: 62px;
    height: 4px;
    background-color: blue;
    left: 6px;
    bottom: -3px;
    border-radius: 3px;
    transition: all 0.53s ease;
}

.container {
    margin-top: 20px;
    display: none;

}

.active.container {
    display: block;
    animation: anim1 .5s ease;
}

@keyframes anim1 {
    from {
        transform: translateX(50px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}